:root {
	--gutter: 2em;
	--darker-color: #181818;
	--dark-color: #232323;
	--light-color: #efefef;
	--success-color: #6cc730;
	--warning-color: #999900;
	--danger-color: #972c24;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--darker-color);
	color: var(--light-color);
	line-height: 1.6em;
	box-sizing: border-box;
}
  
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: inherit;
	font-size: 0.8rem;
	font-weight: 600;
}

tbody tr:nth-of-type(odd) {
	background-color: var(--darker-color);
}

tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

th, td {
	padding: 0.3rem 0.6rem;
	/* border: 1px solid #444; */
}
  
.container {
	width: 1200px;
	margin: 0 auto;
}

h3 {
	font-weight: 500;
	color: var(--light-color);
}


/**
* Alerts
*/
.alerts {
	margin: 0;
	padding: 0;
}

.alert {
	display: block;
	background-color: var(--dark-color);
	box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
	padding: 1rem 2rem;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1.5rem;
}

.alert.alert-danger {
	background-color: var(--danger-color);
}

.alert.alert-success {
	background-color: var(--success-color);
}

.alert.alert-warning {
	background-color: var(--warning-color);
}

.App {
	width: 100%;
}

.App-logo {
	width: 150px;
	transform: translateY(2px);
}

.App-header {
	width: 100%;
}

.App-header-container {
	width: 100%;
	display: flex;
	padding: var(--gutter);
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
}

.App-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.App-nav ul li {
	display: inline-block;
}

.App-nav ul li a {
	padding: 10px;
	color: var(--light-color);
	text-decoration: none;
	opacity: 0.5;
}

.App-nav ul li a.active {
	opacity: 1;
}

.conn-status {
	color: var(--light-color);
}

.conn-status.connecting {
	color: var(--warning-color);
}

.conn-status.connected {
	color: var(--success-color);
}

.conn-status.disconnected {
	color: var(--danger-color);
}

.App-content {
	width: 100%;
	box-sizing: border-box;
	display: grid;
	padding: 0 var(--gutter);
}

.dashboard {
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	'cards				cards'
	'openPositions 		openOrders'
	'bots 				bots';
	grid-gap: var(--gutter);
}

.dashboard .cards {
	grid-area: cards;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: var(--gutter);
}

.dashboard .openPositions {
	grid-area: openPositions;
}

.dashboard .openOrders {
	grid-area: openOrders;
}

.dashboard .bots {
	grid-area: bots;
}

.widget {
	background-color: var(--dark-color);
}

.widget.tradesSummary .metrics {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.widget .widget-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1.2rem 1.6rem;
	border-bottom: 1px solid #454545;
}

.widget .widget-header .widget-minimize {
	font-size: 10px;
}

.widget .widget-header h3 {
	text-transform: uppercase;
	font-size: 0.8rem;
	margin-top: 0rem;
	margin-bottom: 0;
}

.widget .widget-body {
	padding: 1.2rem 1.6rem;
}

.widget .widget-tabs .tab {
	border: none;
	background-color: transparent;
	color: inherit;
	opacity: 0.2;
}

.widget .widget-tabs .tab.active {
	opacity: 1;
}

.metric {
	margin-bottom: 1rem;
}

.metric:last-of-type {
	margin-bottom: 0;
}

.metric-title {
	display: block;
	text-transform: uppercase;
	font-size: 0.8rem;
}

.metric-data {
	display: block;
}

.metric-data.medium {
	font-size: 1.3em;
	line-height: 1em;
	font-weight: 600;
}

.metric-data.large {
	font-size: 2em;
	line-height: 1em;
	margin-bottom: 0.1em;
	font-weight: 600;
}

.metric table {
	margin-top: 0.6rem;
}

.up {
	color: var(--success-color);
}

.down {
	color: var(--danger-color);
}

form .form-field input {
	width: 100%;
	padding: 0.5rem;
	outline: none;
	border: none;
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
	padding: 0.5rem 0.75rem;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.login .login-content {
	/* max-width: 20rem; */
	padding: var(--gutter);
	background-color: var(--dark-color);
	width: 20rem;
	box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.login .login-content h1 {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

.login .login-content form {
	width: 100%;
	box-sizing: border-box;
}

.login .login-content form .form-field {
	margin-bottom: 1.5rem;
	width: 100%;
} 
